<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>149402073917-h3j3sd385bnicseklv0uj3b6g6h6r8nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149402073917-h3j3sd385bnicseklv0uj3b6g6h6r8nb</string>
	<key>API_KEY</key>
	<string>AIzaSyDt2NTnQuXZBaClcqzMCXt757dlzKJLIQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>149402073917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pun.Coin-Kurlari</string>
	<key>PROJECT_ID</key>
	<string>coin-kurlari</string>
	<key>STORAGE_BUCKET</key>
	<string>coin-kurlari.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149402073917:ios:ae0212749189ddeb</string>
	<key>DATABASE_URL</key>
	<string>https://coin-kurlari.firebaseio.com</string>
</dict>
</plist>